<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>マイアカウント - まさる堂</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <div id="navbar-placeholder"></div>
    
    <div id="myaccount-page">
        <div id="user-greeting"><h1>こんにちは, <span id="username-display"></span>さん</h1></div>
        <main>
        <div id="actions">
            <a href="../account/アカウント編集ページ.html" class="btn"><button>アカウント編集</button></a>
            <a href="../account/アカウント削除ページ.html" class="btn"><button>アカウント削除</button></a>
            <a href="../account/ユーザー認証ページ.html" class="btn"><button>ユーザー認証</button></a>
            <a href="../help/問い合わせ.html" class="btn"><button>お問い合わせ</button></a>
            <button id="logout-btn" class="btn">ログアウト</button>
        </div>
        </main>
    </div>
    <div id="footer-placeholder"></div>

    <script src="../../js/jquery-3.6.0.min.js"></script>
    <script src="../../js/script.js"></script>
</body>
</html>
