<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>パスワードリセット</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <div id="navbar-placeholder"></div>

    <div id="password-reset-form-container">
    <form id="password-reset-form">
        <label for="new-password">新しいパスワード:</label>
        <input type="password" id="new-password" name="new-password" required><br>

        <label for="confirm-password">パスワード確認:</label>
        <input type="password" id="confirm-password" name="confirm-password" required><br>

        <input type="submit" value="リセット">
    </form>
    </div>
    
    <div id="footer-placeholder"></div>

    <script src="../../js/jquery-3.6.0.min.js"></script>
    <script src="../../js/script.js"></script>

</body>
</html>
