<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アカウント編集 - まさる堂</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <div id="navbar-placeholder"></div>
    <div id="edit">
        <main>
            <h1>アカウント編集</h1>
            <form id="edit-form">
                <label for="username">新しいユーザー名:</label><br>
                <input type="text" id="username" name="username"><br>

                <input id="save-edit" type="submit" value="変更を保存">
            </form>
        </main>
    </div>
    <div id="footer-placeholder"></div>

    <script src="../../js/jquery-3.6.0.min.js"></script>
    <script src="../../js/script.js"></script>
</body>

</html>