<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アカウント削除 - まさる堂</title>
    <link rel="stylesheet" href="style.css">
</head>
<!-- nothing -->
    <body>
        <div id="delete_account">

    <header>
        <a href="/">まさる堂</a>
    </header>

    <main>
        <h1>アカウント削除</h1>
        <p>アカウントを削除すると、すべてのデータが失われます。本当に削除しますか？</p>
        <button id="delete-account">アカウント削除</button>
    </main>

    <footer>
        <!-- フッター内容 -->
    </footer>
</div>
    <script src="scripts.js"></script>
</body>
<!-- riko  -->

</html>

