<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ショッピングカート - まさる堂</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <div id="navbar-placeholder"></div>

    <!-- ショッピングカートコンテンツ -->
    <div id="cart">
    <main>
        <h1>ショッピングカート</h1>

        <!-- カート内の商品リスト -->
        <section id="cart-items">
            <h2>カートに入っている商品</h2>

                <!-- カートに追加された商品 -->
                <table>
                    <tr>
                        <td><img src="../../image/shirt.png" alt=""></td>
                        <td>
                            <h1>クラシックコットンTシャツ</h1><br>
                            <h2>¥1,999</h2> <br>
                            <p> プレミアムクオリティの生地を使用したクラシックコットンTシャツ。快適さとスタイルを両立した逸品です。カジュアルな外出や日常のワードローブの一部として最適です。</p>
                            <button>削除する</button>
                        </td>
                    </tr>
                </table>
                <!-- ...他のカート内商品... -->
        </section>

        <!-- 注文手続きへ進むボタン -->
        <section id="goto-checkout">
            <button onclick="location.href='checkout.html'">注文手続きへ進む</button>
        </section>
    </main>
</div>

    <div id="footer-placeholder"></div>

    <script src="../../js/jquery-3.6.0.min.js"></script>
    <script src="../../js/script.js"></script>
</body>

</html>
