<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注文追跡 - まさる堂</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="navbar-placeholder"></div>

    <div id="history">
    <main>
        <div id="history-header">
        <h1>注文追跡</h1>
        <p>ご注文の追跡情報がここに表示されます。</p>
        </div>
        <!-- 注文追跡の詳細やリストを表示する部分 -->
        <table>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </main>
    </div>

    <div id="footer-placeholder"></div>

    <script src="../../js/jquery-3.6.0.min.js"></script>
    <script src="../../js/script.js"></script>
</body> 
</html>
