<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>まさるマーケット</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="index.html">まさるマーケット</a>
            </div>
            <div class="nav-items">
                <input type="search" placeholder="商品を検索">
                <ul class="category-list">
                    <li><a href="#">カテゴリー1</a></li>
                    <li><a href="#">カテゴリー2</a></li>
                    <li><a href="#">カテゴリー3</a></li>
                </ul>
            </div>
            <div class="account-links">
                <a href="#">ログイン</a>
                <a href="#">アカウント作成</a>
            </div>
        </nav>
    </header>
</body>
</html>
