<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>まさる堂 - 中古取引プラットフォーム</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
<div id="homepage_login">
    <!-- ナビゲーションバー -->
    <div id="navbar-placeholder"></div>
    <!-- メインコンテンツ -->
    <main>
        <div id="category">
            <div id="category-flex">
                <h3><a href="#">ファッション</a></h3>
                <h3><a href="#">スポーツ</a></h3>
                <h3><a href="#">家電・TV・カメラ</a></h3>
                <h3><a href="#">キッズ・ベビー・玩具</a></h3>
                <h3><a href="#">ゲーム・ホビー・楽器</a></h3>
                <h3><a href="#">コスメ・健康・医薬品</a></h3>
            </div>
        </div>
        <div id="shouhin-ichiran">
            <div id="shouhin">
                <img src="../../image/shirt.png" alt="">
                <h2>1000円</h2>
            </div>
            <div id="shouhin">
                <img src="../../image/shirt.png" alt="">
                <h2>2000円</h2>
            </div>
            <div id="shouhin">
                <img src="../../image/shirt.png" alt="">
                <h2>3000円</h2>
            </div>
            <div id="shouhin">
                <img src="../../image/shirt.png" alt="">
                <h2>1500円</h2>
            </div>
            <div id="shouhin">
                <img src="../../image/shirt.png" alt="">
                <h2>4000円</h2>
            </div>
            <div id="shouhin">
                <img src="../../image/shirt.png" alt="">
                <h2>2500円</h2>
            </div>
        </div>
    </main>

    <!-- フッター -->
    <footer>
        <!-- フッター内容 -->
    </footer>
</div>
    <!-- JavaScriptファイル -->
    <script src="../../js/jquery-3.6.0.min.js"></script>
    <script src="../../js/script.js"></script>
</body>

</html>
