body {
    margin: 0;
    font-family: Arial, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}

.header {
    background-color: #00B0EC;
    padding: 10px 0;
}

.category-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.category-list li {
    margin-right: 20px;
}

.category-list li a {
    text-decoration: none;
    color: #333;
}

.account-links a {
    text-decoration: none;
    color: #333;
    margin-left: 10px;
}

/* ログインと新規登録ページに対してのCSS */
#login, #newaccount{
    margin: 80px 0 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#login main, #newaccount main{
    background-color: white;
    border: groove black 10px;
    padding: 20px;
    border-radius: 10px;
}
#login h1, #newaccount h1{
    text-align: center;
}

#login input, #newaccount input{
    width: 100%;
    padding: 5px 0px;
    margin: 8px 0;
    box-sizing: border-box;
  }

#login input[type=submit], #newaccount input[type=submit]{
    display: block;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    font-size: large;
    font-weight: bolder;
    cursor: pointer;
}
#login #submit:hover, #newaccount #submit:hover{
    opacity: 80%;
}
/* ログインと新規登録ページ終了 */

/* navbar  logo*/
nav #logo img{
    border-radius: 5px;
    width: 70px;
}

nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 70px;
    background-color: white;
    z-index: 1;
    border-bottom: solid black 1px;
}

nav div{
    margin-right: 10px;
    font-size: 1.2em;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav #search-box{
    display: flex;
    border: grey 1px solid;
}
nav #search-box input{
    width: 500px;
    padding: 15px;
    border: none;
}
nav #search-box button{
    background-color: #ffc36c;
    border: none;
    width: 80px;
}
nav #search-box button:hover{
    border: none;
    opacity: .7;
}

nav #account-menu #register{
    margin-right: 30px;
}
nav #account-menu #login{
    margin-right: 30px;
}
nav #account-menu #myaccount{
    margin-right: 30px;
}


/* ---------------------------------------------------------- */

/* category loginpage */

#homepage_login #category{
    background: #f0f3f7;
    padding: 10px;
}
#homepage_login #category #category-flex{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#homepage_login #category #category-flex a{
    color: black;
}

#homepage_login #category #category-flex h3{
    margin-right: 30px;
}

/* 真贋チェックボックス */

#shingan-page{ 
    font-size: 1.5em; 
    margin-left: 25px; 
    padding-top: 10px;
}
#shingan-box{
    transform: scale(1.5);
    margin-right: 10px;
}
/* チェックマーク */
#verify-button img{
    width: 40px;
}
/* 商品一覧 --------------------- */

#shouhin-ichiran {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
}

#shouhin-ichiran #shouhin, #shouhin-ichiran #shouhin-shingan{
    width: calc(33.3% - 20px);
    margin: 10px;
    box-sizing: border-box;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #ccc;
}

#shouhin-ichiran #shouhin img,#shouhin-ichiran #shouhin-shingan img {
    max-width: 100%;
    height: auto;
}

#shouhin-ichiran #shouhin h2, #shouhin-ichiran #shouhin-shingan h2 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}


/* Footer Styles */

footer{
    background-color: #f0f3f7;
    color: black;
    padding: 30px 0;
    text-align: center;
    width: 100%;
}

footer #footer-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
} 

#footer-content .footer-section {
    margin-bottom: 20px;
}

#footer-content .footer-section h4 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 8px;
}

ul li a {
    text-decoration: none;
    color: black;
}

.social-links img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.copyright {
    margin-top: 20px;
}

/* オンラインチャットページに対してのCSS */
#onchat{
    margin: 80px 0 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#onchat header{
    text-align: center;
}
#onchat header a{
    text-decoration: none;
    font-size: 3em;
    font-weight: bolder;
}
#onchat main{
    background-color: white;
    border: groove black 10px;
    padding: 20px;
    border-radius: 10px;
}
#onchat h1{
    text-align: center;
}

#onchat #chat-box{
    overflow-y: scroll;
    display: flex;
    border: dotted black 1px;
    width: 350px;
    height: 200px;
    flex-direction: column;
}
#onchat input{
    width: 100%;
    padding: 5px 0px;
    margin: 8px 0;
    box-sizing: border-box;
  }
#onchat #btn{
    display: flex;
    align-items: center;
}
#onchat #btn #send-message{
    margin-left: auto;
    margin-right: 0;
}

#onchat #btn button, #onchat #btn a{
    border-radius: 5px;
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: large;
    font-weight: bolder;
    cursor: pointer;
}
#onchat #btn button:hover{
    opacity: 75%;
}
/* オンラインチャット終了 */

/*問い合わせページに対してのCSS */
#help{
    margin: 80px 0 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#help header{
    text-align: center;
}
#help header a{
    text-decoration: none;
    font-size: 3em;
    font-weight: bolder;
}
#help main{
    width: 250px;
    background-color: white;
    border: groove black 10px;
    padding: 20px;
    border-radius: 10px;
}
#help h1{
    text-align: center;
}
#help button:hover{
    opacity: 80%;
    cursor: pointer;
}
#help button a{
    text-decoration: none;
    color: black;
}
#help main #back{
    width: 50%;
    padding: 5px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    display: block;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    font-size: large;
    font-weight: bolder;
    cursor: pointer;
}
#help main #back a{
    color: white;
}
/* 問い合わせページ終了 */

/*よくある質問ページに対してのCSS */
#faqs{
    margin: 80px 0 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#faqs header{
    text-align: center;
}
#faqs header a{
    text-decoration: none;

    font-size: 3em;
    font-weight: bolder;
}
#faqs main{
    width: 600px;
    background-color: white;
    border: groove black 10px;
    padding: 20px;
    border-radius: 10px;
}
#faqs h1{
    text-align: center;
}

#faqs main button a{
    text-decoration: none;
    color: white;
}
#faqs main button{
    width: 50%;
    padding: 5px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    display: block;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    font-size: large;
    font-weight: bolder;
    cursor: pointer;
}
#faqs main #faq-content{
    border: groove black 5px;
    height: 250px;
    overflow-y: scroll;
}
/* よくある質問ページ終了 */

/* 商品登録ページ */

.seller_page {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.seller_page h1 {
    text-align: center;
    color: #362e2e;
}

.seller_page .form-group {
    margin-bottom: 15px;
}

.seller_page .form-group label {
    display: block;
    margin-bottom: 5px;
}

.seller_page .form-group input[type="text"],
.seller_page .form-group input[type="number"],
.seller_page .form-group input[type="file"],
.seller_page .form-group select,
.seller_page .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.seller_page .form-group textarea {
    height: 100px;
}

.seller_page button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.seller_page button:hover {
    background: #555;
}

/* 商品登録ページ終了 */

/* resultに対するCSS */
#result-container{
    display: block;
    position: absolute;
    margin:100px 0 0 50px;
};

/* result 終了 */