<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アカウント復元 - まさる堂</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <header>
        <a href="/">まさる堂</a>
    </header>

    <main>
        <h1>アカウント復元</h1>
        <form id="recovery-form">
            <label for="email">メールアドレス:</label>
            <input type="email" id="email" name="email" required><br>

            <input type="submit" value="復元">
        </form>
    </main>

    <footer>
        <!-- フッター内容 -->
    </footer>

    <script src="scripts.js"></script>
</body>

</html>