<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン - まさる堂</title>
    <link rel="stylesheet" href="../../css/style.css">
    <style>
        body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("../../image/masaru.png");
    background-size: 300px;
}

    </style>
</head>

<body>
    <div id="login">
        <header>
            <a href="/まさるマーケット/template/layer2_for_ hp_before_login/ログインページ.html">まさる堂</a>
        </header>

        <main>
            <h1>ログイン</h1>
            <form id="login-form">
                <label for="email">メールアドレス</label><br>
                <input type="email" id="email" name="email" required ><br>

                <label for="password">パスワード</label><br>
                <input type="password" id="password" name="password" required class="space"><br>

                <input type="submit" value="ログイン"  id="submit">
            </form>

            <div id="register">
                <p>アカウントをお持ちでないですか？<a href="/まさるマーケット/template/layer2_for_ hp_before_login/新規登録ページ.html">新規登録</a></p>
            </main>
        </div>

        <footer>
            <!-- フッター内容 -->
        </footer>

        <script src="../../js/jquery-3.6.0.min.js"></script>
        <script src="../../js/script.js"></script>
        <script src="../../js/login.js"></script>
        </div>
</body>
<!-- asd -->
</html>
