<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品詳細 - まさる堂</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <main>
        <div id="navbar-placeholder"></div>
        <div id="shouhin-shousai">
            <div id="shousai-nakami">
                <div id="s-picture">
                    <img src="../../image/shirt.png" alt="Shirt">
                </div>
                <div id="s-desc">
                    <h1>Classic Cotton T-Shirt</h1>
                    <p class="product-price">$19.99</p>
                    <p class="product-description">
                        Elevate your style with this classic cotton t-shirt. Made from premium quality fabric, this shirt offers both comfort and style. Perfect for casual outings or as part of your everyday wardrobe.
                    </p>
                    <div id="product-details">
                        <h2>Product Details</h2>
                        <ul>
                            <li>Material: 100% Cotton</li>
                            <li>Available Sizes: S, M, L, XL</li>
                            <li>Color: White</li>
                            <li>Machine washable</li>
                        </ul>
                    </div>
                    <div id="shousai-btn">
                        <button class="btn-kato">カートに入れる</button>
                        <button class="btn-kau">今すぐ買う</button>
                    </div>  
                </div>
            </div>
        </div>

        <div id="footer-placeholder"></div>
    </main>



    <!-- JavaScriptファイルのリンク -->
    <script src="../../js/jquery-3.6.0.min.js"></script>
    <script src="../../js/script.js"></script>
    
</body>

</html>
