<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品詳細 - まさる堂</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <main>
        <div id="navbar-placeholder"></div>
        <div id="shouhin-shousai">
            <div id="shousai-nakami">
                <div id="s-picture">
                    <img src="../../image/shirt.png" alt="Shirt">
                </div>
                <div id="s-desc">
                    <h1>クラシックコットンTシャツ</h1>
                    <p class="product-price">¥1,999</p>
                    <p class="product-description">
                        プレミアムクオリティの生地を使用したクラシックコットンTシャツ。快適さとスタイルを両立した逸品です。カジュアルな外出や日常のワードローブの一部として最適です。
                    </p>
                    <div class="product-details">
                        <h2>商品の詳細</h2>
                        <ul>
                            <li>素材：綿100％</li>
                            <li>サイズ：S、M、L、XL</li>
                            <li>カラー：ホワイト</li>
                            <li>洗濯機で洗えます</li>
                            <li class="zaiko">在庫あり</li>
                        </ul>
                    </div>
                    <div id="shousai-btn">
                        <button class="btn-kato"><a href="#">カートに入れる</a></button>
                        <button class="btn-kau"><a href="#">今すぐ買う</a></button>
                    </div>  
                </div>
            </div>
        </div>

        <div id="footer-placeholder"></div>
    </main>



    <!-- JavaScriptファイルのリンク -->
    <script src="../../js/jquery-3.6.0.min.js"></script>
    <script src="../../js/script.js"></script>
    
</body>

</html>
