<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <footer>
        <div id="footer-content">
            <div class="footer-section">
                <h4>Information</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Customer Service</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Returns</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Connect With Us</h4>
                <ul class="social-links">
                    <li><a href="#"><img src="../../image/social_icons_facebook.png" alt="Facebook"></a></li>
                    <li><a href="#"><img src="../../image/social_icons_twitter.jpg" alt="Twitter"></a></li>
                    <li><a href="#"><img src="../../image/social_icons_instagram.png" alt="Instagram"></a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            &copy; 2023 Your E-commerce. All rights reserved.
        </div>
    </footer>
    
</body>
</html>