<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <nav>
        <!-- ロゴ -->
        <div id="logo">
            <a href="../home/homepage.html"><img src="../../image/masaru.png" alt="masaru"></a>
        </div>
        
        <!-- 検索ボックス -->
        <div id="search-box">
            <input type="text" id="search-items" placeholder="商品を検索...">
            <button onclick="runsearch()" id="searching">検索</button>
        </div>
        
        <!-- アカウントメニュー -->
        <div id="account-menu">
            <a href="../account_auth/signup.html" id="register">新規登録</a>
            <a href="../account_auth/login.html" id="login-mark">ログイン</a>
            <a href="../account/myaccount.html" id="myaccount">マイアカウント</a>
        </div>
        
        <!-- 注文履歴 -->
        <div id="buy-history">
            <a href="../checkout/注文履歴.html">注文履歴</a>
        </div>

        <!-- ショッピングカートアイコン -->
        <div id="cart">
            <a href="checkout.html">🛒</a>
        </div>
        
        <!-- お気に入り -->
        <div id="favorites">
            <a href="favorites.html">お気に入り</a>
        </div>
        
        <!-- seller center -->
        <div id="sellercenter-mark">
            <a href="../seller/セラーセンター.html">セラーセンター</a>
        </div>
    </nav>

    <script src="../../js/jquery-3.6.0.min.js"></script>
    <script src="../../js/script.js"></script>

</body>
</html>